@model LoginViewModel

@{
    ViewData["Title"] = "Login to your account";
}


@section scripts {
    <script src="~/js/site.js"></script>
}


<section class="login-section">
    <div class="container">
        <div class="title">Please Login To Your Account.</div>

        <form id="formLogin" method="post" novalidate>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="email form-group">
                <label asp-for="Email">E-mail*</label>
                <input asp-for="Email" id="email" type="text" class="invalid" onkeyup="validateLoginForm()">
                <span id="email-error" asp-validation-for="Email" class="error">Your email is required</span>
            </div>
            <div class="password form-group">
                <label asp-for="Password">Password*</label>
                <input asp-for="Password" id="password" type="password" onkeyup="validateLoginForm()">
                <span id="password-error" asp-validation-for="Password" class="error">Password is required</span>
            </div>
            <div class="terms form-checkbox-group">
                <label asp-for="RememberLogin" class="login-checkbox">
                    Please keep me logged in.
                    <input asp-for="RememberLogin" id="RememberLogin" type="checkbox" checked="checked" onkeyup="validateLoginForm()">
                    <span asp-validation-for="RememberLogin" class="checkmark"></span>
                </label>
            </div>
            <button class="btn-theme">Login<i class="fa-solid fa-paintbrush-fine"></i></button>
        </form>
    </div>
</section>