@model RegisterViewModel

@{
    ViewData["Title"] = "Register new Account";
}

<section class="account-section">
    <div class="container">
        <div class="title">Don't have an account yet? Please sign up below</div>

        <form asp-action="Register" method="post" novalidate>
            <div class="name form-group">
                <label asp-for="FirstName">Firstname*</label>
                <input id="firstname" type="text" class="invalid" asp-for="FirstName" required>
                <span class="error">Your name is required</span>
            </div>
            <div class="lastname form-group">
                <label asp-for="LastName">LastName*</label>
                <input id="lastname" type="text" class="invalid" asp-for="LastName" required>
                <span class="error">Your lastname is required</span>
            </div>
            <div class="streetname form-group">
                <label asp-for="StreetName">Streetname (optional)</label>
                <input id="streetname" type="text" class="invalid" asp-for="StreetName">
            </div>
            <div class="postalcode form-group">
                <label asp-for="PostalCode">Postalcode (optional)</label>
                <input id="postalcode" type="text" asp-for="PostalCode">
            </div>
            <div class="city form-group">
                <label asp-for="City">City (optional)</label>
                <input id="city" type="text" asp-for="City">
            </div>
            <div class="phoneNumber form-group">
                <label asp-for="PhoneNumber">PhoneNumber (optional)</label>
                <input id="phone" type="text" asp-for="PhoneNumber">
            </div>
            <div class="companyName form-group">
                <label asp-for="CompanyName">Company (optional)</label>
                <input id="company" type="text" asp-for="CompanyName">
            </div>
            <div class="email form-group">
                <label asp-for="Email">Email*</label>
                <input id="email" type="email" class="invalid" asp-for="Email" required>
                <span class="error">Your email is required</span>
            </div>
            <div class="password form-group">
                <label asp-for="Password">Password*</label>
                <input id="password" type="password" asp-for="Password">
                <span class="error">password is required</span>
            </div>
            <div class="confirm-password form-group">
                <label asp-for="ConfirmPassword">Confirm Password*</label>
                <input id="confirm-password" type="password" asp-for="ConfirmPassword">
                <span class="error">confirm password is required</span>
            </div>
            <div class="upload image form-group">
                <label asp-for="Image">Upload Profile Image (optional)</label>
                <input id="upload-image" type="text" asp-for="Image">
            </div>
            <div class="message form-group">
                <label asp-for="Message">Message</label>
                <textarea id="message" class="invalid" asp-for="Message"></textarea>
            </div>
            <div class="terms form-checkbox-group">
                <label class="account-checkbox">
                    I have read and accept the terms and agreements.
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <button class="btn-theme">Submit <i class="fa-solid fa-paintbrush-fine"></i></button>
        </form>
      </div>
</section>




