<section class="subscribe">
    <div class="container">
        <form>
            <input type="text" placeholder="subscribe email here...">
            <button class="btn-theme btn-rounded"><i class="fa-solid fa-rocket-launch"></i></i></button>
        </form>
    </div>
</section>
