<section class="collection topsellingproducts">
    <div class="container">
        <div class="collection-grid">

           
            <a asp-controller="products" asp-action="details" class="collection-item">
                <img src="images/placeholders/exklusive1562.png" alt="">
                <div class="body">
                    <div class="infobox">
                        <div class="title">Table Lamp 1562 LTG MODAL</div>
                        <p class="infotext">Beautiful lamps for all purposes</p>
                        <div class="comments">
                            <p>Post by: Admin</p>
                            <p>Comments 15</p>
                        </div>
                    </div>
                    <i class="tocart fa-solid fa-cart-plus"></i>
                </div>
            </a>
            
            <a asp-controller="products" asp-action="details" class="collection-item">
                <img src="images/placeholders/vaseglass.png" alt="">
                <div class="body">
                    <div class="infobox">
                        <div class="title">Table Lamp 1562 LTG MODAL</div>
                        <p class="infotext">Beautiful lamps for all purposes</p>
                        <div class="comments">
                            <p>Post by: Admin</p>
                            <p>Comments 13</p>
                        </div>
                    </div>
                    <i class="tocart fa-solid fa-cart-plus"></i>
                </div>
            </a>
            
            <a asp-controller="products" asp-action="details" class="collection-item">
                <img src="images/placeholders/tablelamp1562.png" alt="">
                <div class="body">
                    <div class="infobox">
                        <div class="title">Table Lamp 1562 LTG MODAL</div>
                        <P class="infotext">Beautiful lamps for all purposes</P>
                        <div class="comments">
                            <p>Post by: Admin</p>
                            <p>Comments 17</p>
                        </div>
                    </div>
                    <i class="tocart fa-solid fa-cart-plus"></i>
                </div>
            </a>
        </div>
    </div>
</section>
