@model GridCollectionViewModel

<section class="collection top-selling">
    <div class="container-fluid">
        <h1 class="collection-title">Top selling products this week!</h1>
        <div class="collection-grid">

            @if (Model.GridCards != null)
            {
                @foreach (var item in Model.GridCards)
                {
                    <partial name="/Views/Partials/_GridCollectionItem.cshtml" model="item" />
                }

            }
           
        </div>
        <div class="load-more">
            <button class="btn-white"><i class="fa-solid fa-chevron-left"></i></button>
            <button class="btn-white"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>
</section>
<!-- top selling products end -->
