@model GridCollectionViewModel

<section class="collection topsellingproducts">
    <div class="container">
        <div class="collection-grid">
            @if (Model.GridCards != null)
            {
                @foreach (var item in Model.GridCards)
                {
                    <partial name="/Views/Partials/_GridCollectionItem.cshtml" model="item" />
                }

            }
        </div>
    </div>
</section>
