
<section class="showcase">
    <div class="container">
        <div class="content">
            <div class="ingress">WELCOME TO BMERKETO SHOP</div>
            <div class="title">Your Exclusive Collection Choice.</div>
            <button class="btn-theme">SHOP NOW <i class="fa-solid fa-wand-sparkles"></i></button>
        </div>
        <div class="content-image">
            <img src="images/placeholders/Stol.png" alt="">
        </div>
    </div>
</section>
