@import '../core/_colors.scss';
@import '../core/_fonts.scss';

html, body {
    font-size: 16px;
    font-family: $font-roboto;
    font-weight: $font-weight-regular;
    color: $color-dark-3;
}

.open-menu {
    width: 100vw !important;
    opacity: 0.99;
    transform: translateX(-100%);
}

.invalid {
    border: 1px solid $color-theme-1 !important;
} 


a {
    text-decoration: none;
    color: $color-theme-1;

    &:hover {
        text-decoration: underline;
        color: $color-theme-1;
    }
}

button {
    padding: 10px 35px;
    font-family: $font-poppins;
    text-decoration: none;
    border: 1px solid $color-dark-1;
    background-color: transparent;
    color: $color-dark-1;
    transition: all 0.2s;


    &:hover {
        background-color: $color-dark-1;
        color: $color-white;
    }
}

// BUTTONS

// button white theme
.btn-white {
    border: none;
    text-decoration: none;
    background-color: $color-white;
    color: $color-dark-2;
    border: 1px solid $color-dark-2;
    border-radius: 5px;
}

// button pink theme
.btn-theme {
    cursor: pointer;
    border: none;
    padding: 10px 25px;
    text-decoration: none;
    font-family: $font-poppins;
    background-color: $color-theme-1;
    color: $color-white;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;

    &:hover {
        color: $color-white;
        background-color: $color-dark-1;
        text-decoration: none;
    }
}

.btn-toggle {
    font-family: $font-poppins;
    text-decoration: none;
    font-size: 1.8em;
    padding: 0 !important;
    background-color: transparent;
    border: none !important;

    &:hover {
        color: $color-dark-1 !important;
        background-color: transparent !important;
    }
}

.btn-toggle-white {
    font-family: $font-poppins;
    text-decoration: none;
    font-size: 1.8em;
    padding: 0 !important;
    background-color: transparent;
    border: none !important;

    &:hover {
        color: $color-dark-3 !important;
        background-color: transparent !important;
    }
}

.btn-outline-white {
    font-family: $font-poppins;
    text-decoration: none;
    padding: 10px 25px;
    border: 1px solid $color-dark-3;
    background-color: $color-white;
    color: $color-dark-3;
    transition: all 0.25s ease-in-out;

    &:hover {
        border: 1px solid $color-dark-2;
        background-color: $color-dark-2;
        color: $color-white;
    }
}

.btn-outline-dark {
    font-family: $font-poppins;
    padding: 10px 25px;
    border: 0px solid $color-white;
    background-color: transparent;
    text-decoration: none;
    color: $color-white;
    transition: all 0.25s ease-in-out;

    &:hover {
        border: 0px solid $color-dark-2;
        background-color: transparent;
        color: $color-white;
    }
}

.btn-rounded {
    border-radius: 25px;
}

.btn-rounded-1 {
    border-radius: 10px;
}
