@model ContactsViewModel


@section scripts {
    <script src="~/js/site.js"></script>
}


<html>
<body>
    <section class="breadcrumb">
        <div class="container">
            <div class="content">
                <h1>CONTACT</h1>
                <ul>
                    <li>HOME</li>
                    <li>CONTACT</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="contact-section">
        <div class="container">
            <div class="title">Please enter information</div>

            <form id="formContact" asp-action="Contact" method="post" novalidate>
                <div class="name form-group">
                    <label asp-for="Name">Your Name*</label>
                    <input id="name" type="text" asp-for="Name" onkeyup="validateName()">
                    <small><span id="nameError" asp-validation-for="Name" class="text-danger"></span></small>
                </div>
                <div class="email form-group">
                    <label asp-for="Email">Your Email*</label>
                    <input id="email" type="email" asp-for="Email" onkeyup="validateEmail()">
                    <small><span id="emailError" asp-validation-for="Email" class="text-danger"></span></small>
                </div>
                <div class="phoneNumber form-group">
                    <label asp-for="PhoneNumber">Phone (optional)</label>
                    <input id="phone" type="text" asp-for="PhoneNumber" onkeyup="validatePhoneNumber()">
                    <small><span id="phoneNumberError" class="text-danger"></span></small>
                </div>
                <div class="companyName form-group">
                    <label asp-for="CompanyName">Company(optional)</label>
                    <input id="company" type="text" asp-for="CompanyName" onkeyup="validateCompanyName()">
                    <small><span id="companyNameError" class="text-danger"></span></small>
                </div>
                <div class="message form-group">
                    <label asp-for="Message">Message</label>
                    <textarea id="message" asp-for="Message" onkeyup="validateMessage()"></textarea>
                    <small><span id="messageError" class="text-danger"></span></small>
                </div>
                <div class="terms form-checkbox-group">
                    <label asp-for="AcceptedData" class="custom-checkbox">
                        Save my name and email in this browser for the next time I comment.
                        <input type="checkbox" checked="checked" asp-for="AcceptedData" onkeyup="validateAcceptedData()">
                        <span id="acceptedDataError" asp-validation-for="AcceptedData" class="text-danger checkmark"></span>
                    </label>
                </div>
                <button class="btn-theme">Submit <i class="fa-solid fa-paintbrush-fine"></i></button>
            </form>
        </div>
    </section>

    <section class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.846379992451!2d18.021943310261673!3d59.34492585222009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d9d263b022d%3A0x82fc0f30ed84f9ed!2sNackademin!5e0!3m2!1ssv!2sse!4v1679451477145!5m2!1ssv!2sse" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>


    <script src="https://kit.fontawesome.com/41c8b474e2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>

