@model ProductDetailsViewModel

<!-- Section one placeholder for img start-->
<section class="sectionone">
    <div class="container">
        <div class="sectionone-content">
            <p class="infoimg">1920x300</p>
            <p class="infoshop">SHOP</p>
        </div>
    </div>
</section>
<!-- Section one placeholder for img end -->
<!-- Section two for products and add to cart start -->
<div class="product-grid">
    <div class="container">
        <div class="product-images">
            <img src="images/placeholders/gumshoesbig.png" alt="Product big">
            <div class="products-images-small">
                <img src="images/placeholders/greyshosmall.png" alt="Product 1">
                <img src="images/placeholders/gumshosmall.png" alt="Product 2">
                <img src="images/placeholders/pinkshosmall.png" alt="Product 3">
                <img src="images/placeholders/shosmall.png" alt="Product 4">
            </div>
        </div>
        <div class="product-details">
            <p class="product-title">@Model.Name</p>
            <p class="product-description"> Product Description : Great shoes for great value. </p>
            <div class="product-rating">
                <span class="fa-solid fa-star"></span>
                <span class="fa-solid fa-star"></span>
                <span class="fa-solid fa-star"></span>
                <span class="fa-solid fa-star"></span>
                <span class="fa-solid fa-star"></span>
            </div>
            <p class="product-price">@Model.Price</p>
            <div class="product-quantity">
                <button>-</button>
                <span>1</span>
                <button>+</button>
                <button class="add-to-cart">Add to Cart <i class="fa-solid fa-cart-shopping"></i></button>
            </div>
            <div class="product-section">
                <div class="product-colors">
                    <button class="btn btn-danger rounded-circle"></button>
                    <button class="btn btn-warning rounded-circle"></button>
                    <button class="btn btn-success rounded-circle"></button>
                    <p> SKU N/A</p>
                </div>
                <button class="wish">Add to wishlist</button>
                <div class="small-description"> Category: @Model.Category.Name</div>
            </div>
        </div>
    </div>
</div>
<!-- Section two for products and add to cart end  -->
<!-- Section three, row with 4 buttons for info tabs start -->
<div class="info-buttons">
    <div class="container">
        <button class="buttonrow">DESCRIPTION</button>
        <button class="buttonrow">ADDITIONAL INFO</button>
        <button class="buttonrow">REVIEWS (0)</button>
        <button class="buttonrow">SHIPPING &amp; DELIVERY</button>
    </div>
</div>
<!-- Section three for row with 4 buttons for info tabs end -->
<!-- Section four info and image section start-->
<div class="showcasefour">
    <div class="container">
        <div class="left-side">
            <h2 class="title">Nice fashion for great value, great prices and awesome quality.</h2>
            <div class="textleft">
                <p>
                    lorem ipsum lorem ipsum lorem ipsum,lorem ipso habejfnnfasnsancncnkvdsvvvds<br>
                    jnsjncjncjancajsncsnjjsncscnsncjscns jasjnandncnancsjnsajncsjsancjsnnsjcn<br>
                    cskmcskmcsmckscsk, jksajfkfnajncajsncjdnkascnanascnas
                </p>
                <p>lorem ipsum lorem ipsum lorem ipsum, fafasdkajdalkdaskldksadn<br>nsnckacacnaskncaksncskncakscnkc</p>
                <br>
                <p>lorem ipsum lorem ipsum lorem ipsumvsdvdssvsvsv nsancanascncn<br>jnsjnajncjnjsancjsncjsancjscnsncsajnjn</p>
                <p>
                    lorem ipsum lorem ipsum lorem ipsum, lorem ipsum lorem ipsum lorem ipsumvdsvdsvds<br>
                    fsafancajncajsnckjasncsjcnjcnj fsknkancskanckascnkanckancknkanc, bjsjbcjsacjascjascajsncsancncjzncjnzcjncx,nsjcanjcjbcjscbjcjscbb<br>
                    haisdasakncsancasncanc, knsfksnkcnksncaksnckasncknckanc fsafancajncajsnckjasncsjcnjcnj fsknkancskanckascnkanckancknkanc,
                    bjsjbcjsacjascjascajsncsancncjzncjnzcjncx,nsjcanjcjbcjscbjcjscbb
                </p>
            </div>
        </div>
        <div class="right-side">
            <img src="images/placeholders/pexels-photo-1070360-1.jpeg" alt="Imageright">
        </div>
    </div>
</div>
<!-- Section four info and image section end -->
<!-- Section five image section display start-->

<section class="imagedisplay">
    <div class="container">
        <h1 class="display-title">Related Products</h1>
        <div class="display-grid">
            @if (Model.RelatedDetailsList != null)
            {
                @foreach (var item in Model.RelatedDetailsList)
                {
                    <partial name="/Views/Partials/_GridCollectionItem.cshtml" model="item" />
                }
                
            }
        </div>
    </div>
</section>

<!-- Section five image section display end -->
<!-- Section six imagedisplay-end section start -->
<section class="imagedisplay-end">
    <div class="container">
        <div class="display-end-grid">
            <img src="images/placeholders/minimalbeige.png" alt="">
            <img src="images/placeholders/minimaldesign.png" alt="">
            <img src="images/placeholders/minimalbeige.png" alt="">
            <img src="images/placeholders/woocolcon.png" alt="">
            <img src="images/placeholders/atalatatony.png" alt="">
        </div>
    </div>
</section>

<!-- section six image section imagedisplay-end, end -->

